<h1>This is CampGrounds page</h1>

<div>
<%  campgroundsArr.forEach(function(campground){  %>
    
    <h4> <%= campground.name %>  </h4>
    <img src="<%= campground.image %>">
    
<%  } );  %>


</div>
