<% include partials/header %>

<h1>Add a new campground</h1>

<form action="/campgrounds" method="POST">
    
    <labe>Enter new campground:  
        <input type="text" name="campground" placeholder="Sarvani CampGround"></input> 
    </labe>
    <br/>
    <labe>Enter Image ur:  
        <input type="text" name="image"></input> 
    </labe>
    
    <button name="button">Submit</button>
    
</form>

<a href="/campgrounds"> Go Back</a>

<% include partials/footer %>