<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://fthmb.tqn.com/cgQkjtW2GM6KFCv5UeWnavnOSds=/768x0/filters:no_upscale()/103919224-56a2896d3df78cf7727748c8.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>